[Unit]
Description=Apache Tomcat Web Application Container
Wants=syslog.target network.target
After=syslog.target network.target
[Service]
Type=forking
EnvironmentFile=/etc/systemd/tomcat.service.conf
ExecStart=/ctsms/apache-tomcat-6.0.48/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID
User=ctsms
Group=ctsms
PIDFile=/run/tomcat/tomcat.pid
SuccessExitStatus=143
UMask=0007
RestartSec=10
Restart=always
SyslogIdentifier=tomcat-%i
[Install]
WantedBy=multi-user.target
